#HeaderFirst {
	width: 95% ;
	padding:10px;
	display:block;
	background-color: lightgreen ;
	border : 3px solid black;
}



#headerSiteName
{
	display:inline-block;
	font-size:3em; 
	margin-left:30px; 
	color:blue;
}



#HeaderFirst > div > div > a {
	width: 150px;
	margin: 5px 15px 0px 0px;	
	padding:5px 15px;
	background-color: darkgreen;
	font-size:2em ;
	color:white;
	text-decoration: none;
	display: block;
	border-radius:10px;
	text-align: center;
}

#logout {

/*	position: fixed;
	top:11%;
	right:4%;
	background-color: black; */
	visibility: hidden;
}


#message{
	text-align: center;
	width:40%;
	margin:auto;
	margin-top: 30px;
	padding :20px;
	border: 2px solid black;
	border-radius:10px;
}


#errorblock
{	
	text-align: center;
	width:40%;
	height:40%;
	padding: 40px;
	display: block;
	margin:auto;
	margin-top:30px;	
	font-size:1.5em;
	background-color: rgb(100,100,100);
	color:red;
	border:2px solid red;
	border-radius: 10px;
}


#form
{
	border: 1px solid black;
	padding:40px;
	margin:auto; 
	margin-top:30px;
	width:40%; 
	display:block;
	border-radius:10px;
	text-align: center;
}


#loginform{
	border: 1px solid rgb(60,30,20);
	padding:40px;
	margin:auto;
	margin-top: 30px; 
	width:40%; 
	display:block;
	border-radius:10px;
}

#form a
{
	display: block;
	background-color: aqua;
	line-height: 2.5em;
	width:95%;
	text-align: center;
	margin:6px;
	text-decoration:none;
	color:black;

}


#message a
{
	display: block;
	background-color: aqua;
	line-height: 2.5em;
	width:95%;
	text-align: center;
	margin:6px;
	text-decoration:none;
	color:black;
}

#registerform 
{
	border: 1px solid black;
	padding:40px;
	margin:auto; 
	margin-top:30px;
	width:40%; 
	display:block;
	border-radius:10px;

}


#passwordresetform
{
	border: 1px solid black;
	padding:40px;
	margin:auto; 
	margin-top:30px;
	width:40%; 
	display:block;
	border-radius:20px;
}



label
{
	font-size: 1.2em;
	margin: 0px 25px;

}


footer{
	position:fixed;
	bottom:0px;
	right:20px;
}

button
{
	display: block;
	background-color: rgb(135, 135, 160);
	line-height: 2.5em;
	width:95%;
	text-align: center;
	margin:6px;
	text-decoration:none;
	font-weight: bold;
	font-size: 1em;
	color:black;

}
