{%  extends "Uprofile/base_site.html" %}

{% block content %}
	
	<section>
		{% if Invalid_url %}
			<div id="message"> Invalid Url </div>
		{% else %}

			{% if activation_expired %}
			 	<div id="errors"> This link is expired. 
			{% elif  already_active %}
				<div id="message"> This account is already active. </div> 
			{% else %}
				<div id="message">  
					The account have been successfully activated. 
					<a href="/Uprofile/login"> Login Now </a>
				</div>
			{% endif %}
		{%  endif  %}
	</section>
{% endblock %}