<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" >
	<meta name="description" content="Project on profile management called 'Uprofile' " >
	<meta name="author"  content="Ashish Garg" >
	<meta name="mail_address" content="ashishg@mindfire@gmail.com">
	<title>Uprofile: User profile</title>
	{%  load static %}
	<link rel="stylesheet" type="text/css" href="{% static  'Uprofile/feel.css' %}">
	<script type="text/javascript"   src="{% static   'Uprofile/script.js' %}"></script>
</head>
<body>
	{% block  header %} 

	{% endblock %}
	{% block  content %} 

	{% endblock %}
	{% block  footer %} 

	{% endblock %}
</body>
</html>