<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" >
	<meta name="description" content="Project on profile management called 'Uprofile' " >
	<meta name="author"  content="Ashish Garg" >
	<meta name="mail_address" content="ashishg@mindfire@gmail.com">
	<title>Uprofile: User profile</title>
	<link rel="stylesheet" type="text/css" href="css/feel.css">
	<script type="text/javascript"   src="js/script.js"></script>
</head>
<body>
	{% block  head %} 

	{% endblock %}
	{% block  content %} 

	{% endblock %}
	{% block  footer %} 

	{% endblock %}
</body>
</html>