{%  extends "Uprofile/base_site.html" %}

{% block content %}
	
	{%  if errors   %} 
	<div> {{ errors }}  </div>
	{%  endif  %}

	<section>

		<div  id="register"     style="margin:auto; color: blue; width:70%;    border: 3px solid green; " >
			<form action="{%url 'Uprofile:register' %}"  method='POST'  style="padding-left: 15px; ">
				{% csrf_token %}
				<!--   for custom rendering
				<input type="text" name="fname">
				<input type="text" name="lname">
				<input type="text" name="name_user">
				<input type="email" name="mailaddress">
				<input type="password" name="key">
				<input type="password" name="ckey">					
				-->
				{{ rform.as_p }}
				<button type="Submit" onclick="">Register</button>	
			</form>
		</div>
		
	</section>
{% endblock %}