{%  extends "Uprofile/base_site.html" %}

{% block content %}
	<section>
		<div  id="register">
			<form action='/Uprofile/login/'  method='POST'>
				<input type="text" name="fname">
				<input type="text" name="lname">
				<input type="text" name="name_user">
				<input type="email" name="mailaddress">
				<input type="password" name="key">
				<input type="password" name="ckey">
				<button type="button" onclick="">Register</button>
			</form>
		</div>
		<div id="login">
			<form action="/Uprofile/register/">
				<label>Username/Email</label>
				<p><input type="text" name="name_user"></p>
				<label>Password</label>
				<p><input type="password" name="key"></p>
				<button type="button" onclick="">Login</button>
				<span>*New User* </span><button type="button">Register Now</button>
			</form>
			<i  class='Forgot_pass' href="">Forgot Password</i>
		</div>
	</section>
{% endblock %}